<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="d-flex justify-content-between payme-apps">
        <div class="payme-apps__text">
          <div class="payme-apps__text__title text-uppercase font-weight-normal mb-2" >{{'наше приложение для вашего бизнеса' | translate | async}}</div>
          <div>{{'Готовые решения для приема оплаты, интернет магазина и многое другое' | translate | async}}</div>
        </div>
        <div class="payme-apps__btns d-flex justify-content-lg-between justify-content-md-center justify-content-sm-center"><a class="payme-apps__btns__btn d-flex align-items-center justify-content-center" href="https://play.google.com/store/apps/details?id=uz.paycom.merchantcabinet"><i class="png-icon png-icon-google-play"></i></a><a class="payme-apps__btns__btn d-flex align-items-center justify-content-center" href="https://itunes.apple.com/uz/app/payme-business/id1423515106?mt=8"><i class="png-icon png-icon-app-store"></i></a></div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container"> 
      <nav class="footer-nav">
        <ul class="d-flex flex-wrap justify-content-between">
          <li><a href="#" >{{'Политика конфиденциальности' | translate | async}}</a></li>
          <li><a href="#" >{{'Документация' | translate | async}}</a></li>
          <li><a href="#" >{{'Протокол Merchant API' | translate | async}}</a></li>
          <li><a href="#" >{{'Протокол Subscribe API' | translate | async}}</a></li>
          <li><a href="#" >{{'Плагины для CMS' | translate | async}}</a></li>
          <li><a href="#" >{{'Песочница' | translate | async}}</a></li>
        </ul>
      </nav>
      <div class="footer-contacts d-flex">
        <div class="footer-contacts__phone">
          <div >{{'Телефон службы поддержки' | translate | async}}:</div>
          <div> <strong >+998 78 150‑22‑24</strong></div>
        </div>
        <div class="footer-contacts__nets d-flex justify-content-center align-items-center justify-content-lg-between justify-content-md-between"><a href="#"><i class="png-icon png-icon-tg"></i></a><a href="#"><i class="png-icon png-icon-inst"></i></a><a href="#"><i class="png-icon png-icon-fb"></i></a></div>
      </div>
      <div class="d-flex align-items-start justofy-content-between flex-sm-row flex-column">
        <div class="copyright">
          <div class="mb-3">
            <div >{{'Услуги лицензированы' | translate | async}}.</div>
            <div >{{'footerText' | translate | async}}</div>
          </div>
          <div>&copy; 2013 - {{year}}. СП ООО “Inspired”</div>
        </div><img class="dss" src="/assets/images/dss.png" alt="dss">
      </div>
    </div>
  </div>
</footer>