<section class="d-flex align-items-end justify-content-center top-block">
  <div class="top-block__bg"></div>
  <div class="top-block__inner">
    <div id="ninja-slider">
      <div class="slider-inner">
        <ul>
          <li><a class="ns-img" href="/assets/images/slide-1.jpg"></a></li>
          <li><a class="ns-img" href="/assets/images/slide-2.jpg"></a></li>
          <li><a class="ns-img" href="/assets/images/slide-3.jpg"></a></li>
          <li> <a class="ns-img" href="/assets/images/slide-4.jpeg"></a></li>
        </ul>
      </div>
    </div>
    <div class="top-block__slides-desc d-flex align-items-center">
      <ul>
        <li>
          <div><span>Моментальное отслеживание платежей в личном кабинете</span></div>
        </li>
        <li>
          <div><span>Моментальное отслеживание платежей в личном кабинете</span></div>
        </li>
        <li>
          <div><span>Моментальное отслеживание платежей в личном кабинете</span></div>
        </li>
        <li>
          <div><span>Моментальное отслеживание платежей в личном кабинете</span></div>
        </li>
      </ul>
    </div>
  </div>
</section>